<header class="main-header">
    <nav class="main-header-navigation">
      <ul class="main-header-ul">
        <li class="main-header-li"><a class="<%= path==='/' ? 'active' : '' %>" href="/">Home</a></li>
        <li class="main-header-li"><a class="<%= path==='/admin/add-product' ? 'active' : '' %>"  href="/admin/add-product">Add Product</a></li>
      </ul>
    </nav>
  </header>